body {
 font-size: 18px;

}

a {
    text-decoration: none;
    color:red;
}

.header {
    display: flex;
    font-size: 18px;
    color: white;
    background: rgb(43, 43, 54);
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
.albums {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    gap: 40px;
    
}

.band-intro {
    display: flex;
    color: white;
    background: rgb(43, 43, 54);
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    
}

.intro-container {
    width: 600px;
    margin-right: 20px;
    padding: 20px;
}

.band-name {
    font-size: 48px; 
    font-weight: bolder;
    font-style: italic;
    
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 18px;
    margin-top: 10px;
    background-color: #1b6ce6;
    color: white;
  

}

.members-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.members-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
 
}

.bonnie,
.potter,
.jonno,
.miki {
    text-align: center;
    width: 300px;
    padding: 20px;
}


img {
    width: 200px;
    height:200px;

}

.band-intro img {
    width: 600px;
    height: 250px;

}

.lyrics-container {
    height: 600px;
    background: rgb(218, 231, 235);
    font-size: 48px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    padding: 0px 300px;
    justify-content: center;
    align-items: center;

}

.lyrics {
    display: flex;
    min-width: 300px;

}

.footnote {
    align-self: self-end;
    font-size: 38px;
    font-weight: bold;
    margin-top: 20px;
}

