.header {
    display: flex;
    font-size: 18px;
    color: white;
    background: rgb(43, 43, 54);
    justify-content: space-around;
    align-items: center;
}
.albums {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    gap: 40px;
    color: red;
}

.band-into {
    display: flex;
    color: white;
    background: rgb(43, 43, 54);
    justify-content: center;
    padding: 30px;
    

}

.band-name {
    
    
    flex-direction: column;
    width: 600px;
    align-items: center;
    
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 18px;
    margin-top: 10px;
    background-color: #1b6ce6;
    color: white;
  

}

